// Import page-specific CSS files here.
@import "home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: white;
}

body {
  margin: 50px;
  padding: 2em;
  background-color: rgb(237, 237, 237);
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
